<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        img {
            max-width: 500px;
            margin-bottom: 10px;
        }

        .flash-message {
            background-color: #095326; /* Highlighted message color */
            padding: 10px;
            border-radius: 5px;
            margin: 20px 0;
            color: #fff;
            font-weight: bold;
        }
    </style>
</head>
<body class="dark-mode">
    <div class="header">
        <img src="/static/images/headerlogo.png" alt="header">
    </div>
    <div class="content">
        <div class="player-rectangle"> <!-- the user's stats shown as a table -->
            <h2>Player: {{ username }}</h2>
            <table>
                <tbody>
                    <tr>
                        <th>HSP</th>
                        <td>{{ stats.hsp }}</td>
                    </tr>
                    <tr>
                        <th>WRP</th>
                        <td>{{ stats.wrp }}</td>
                    </tr>
                    <tr>
                        <th>Wins</th>
                        <td>{{ stats.wins }}</td>
                    </tr>
                    <tr>
                        <th>Losses</th>
                        <td>{{ stats.losses }}</td>
                    </tr>
                    <tr>
                        <th>Matches</th>
                        <td>{{ stats.matches }}</td>
                    </tr>
                    <tr>
                        <th>KD</th>
                        <td>{{ stats.kd }}</td>
                    </tr>
                    <tr>
                        <th>Kills</th>
                        <td>{{ stats.kills }}</td>
                    </tr>
                    <tr>
                        <th>Deaths</th>
                        <td>{{ stats.deaths }}</td>
                    </tr>
                    <tr>
                        <th>KPM</th>
                        <td>{{ stats.kpm }}</td>
                    </tr>
                    <tr>
                        <th>Cheater</th>
                        <td>{{ stats.cheater }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <button id="toggle-theme" class="button-spacing">Dark/Light</button> <!-- button for dark mode -->
    <script>
        document.getElementById('toggle-theme').addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
        });
    </script>
    
    <a href="/logout">Search Another User</a>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                <p>{{ messages[0] }}</p>
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>