<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        img {
            max-width: 500px;
            margin-bottom: 10px;
        }

        .flash-message {
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
            color: white;
            font-weight: bold;
        }

        .flash-message.red {
            background-color: red;
        }

        .flash-message.orange {
            background-color: orange;
        }

        .flash-message.green {
            background-color: green;
        }
    </style>
</head>
<body class="dark-mode">
    <div class="header">
        <img src="/static/images/headerlogo.png" alt="header">
    </div>
    <div class="content">
        <div class="player-rectangle"> 
            <h2>{{ username }}</h2>
            
            <!-- stats container with a grid layout -->
            <div class="stats-container">
                <!-- top row -->
                <div class="stat-item">
                    <strong>HSP</strong><br>
                    {{ stats.hsp }}
                </div>
                <div class="stat-item">
                    <strong>WRP</strong><br>
                    {{ stats.wrp }}
                </div>
                <div class="stat-item">
                    <strong>Wins</strong><br>
                    {{ stats.wins }}
                </div>
                <div class="stat-item">
                    <strong>Losses</strong><br>
                    {{ stats.losses }}
                </div>
                <div class="stat-item">
                    <strong>KD</strong><br>
                    {{ stats.kd }}
                </div>

                <!-- bottom row -->
                <div class="stat-item">
                    <strong>Kills</strong><br>
                    {{ stats.kills }}
                </div>
                <div class="stat-item">
                    <strong>Deaths</strong><br>
                    {{ stats.deaths }}
                </div>
                <div class="stat-item">
                    <strong>KPM</strong><br>
                    {{ stats.kpm }}
                </div>

                <div class="stat-item">
                    <strong>Matches</strong><br>
                    {{ stats.matches }}
                </div>

                <!-- cheater stat box -->
                <div class="stat-item cheater">
                    <strong>Cheater</strong><br>
                    {{ stats.cheater }}
                </div>

            </div>
        </div>
        
        <!-- Cheater flash message -->
         <!--
        {% if stats.cheater %}
            <div class="flash-message">
                Cheater Probability: {{ stats.cheater }}%
            </div>
        {% endif %} -->
    </div>
    
    <button id="toggle-theme" class="button-spacing">Dark/Light</button> <!-- button for dark mode -->
    <script>
        document.getElementById('toggle-theme').addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
        });
    </script>
    
    <a href="/logout">Search Another User</a>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message {{ flash_color }}">
                <p>{{ messages[0] }}</p>
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>