<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        img {
            max-width: 500px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="dark-mode">
    <div class="header">
        <img src="/static/images/headerlogo.png" alt="header">
    </div>
    <div class="content">
        <div class="player-rectangle">
            <h2>Player: {{ username }}</h2>
            <table>
                <tbody>
                    <tr>
                        <th>HSP</th>
                        <td>{{ stats.hsp.iloc[0] }}</td>
                    </tr>
                    <tr>
                        <th>WRP</th>
                        <td>{{ stats.wrp.iloc[0] }}</td>
                    </tr>
                    <tr>
                        <th>Wins</th>
                        <td>{{ stats.wins.iloc[0] }}</td>
                    </tr>
                    <tr>
                        <th>Losses</th>
                        <td>{{ stats.losses.iloc[0] }}</td>
                    </tr>
                    <tr>
                        <th>Matches</th>
                        <td>{{ stats.matches.iloc[0] }}</td>
                    </tr>
                    <tr>
                        <th>KD</th>
                        <td>{{ stats.kd.iloc[0] }}</td>
                    </tr>
                    <tr>
                        <th>Kills</th>
                        <td>{{ stats.kills.iloc[0] }}</td>
                    </tr>
                    <tr>
                        <th>Deaths</th>
                        <td>{{ stats.deaths.iloc[0] }}</td>
                    </tr>
                    <tr>
                        <th>KPM</th>
                        <td>{{ stats.kpm.iloc[0] }}</td>
                    </tr>
                    <tr>
                        <th>Cheater</th>
                        <td>{{ stats.cheater.iloc[0] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="stats-rectangle">
            <h2>Other Players' Stats</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>HSP</th>
                        <th>WRP</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Matches</th>
                        <th>KD</th>
                        <th>Kills</th>
                        <th>Deaths</th>
                        <th>KPM</th>
                        <th>Cheater</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in stats.iterrows() %}
                        <tr>
                            <td>{{ row.username }}</td>
                            <td>{{ row.hsp }}</td>
                            <td>{{ row.wrp }}</td>
                            <td>{{ row.wins }}</td>
                            <td>{{ row.losses }}</td>
                            <td>{{ row.matches }}</td>
                            <td>{{ row.kd }}</td>
                            <td>{{ row.kills }}</td>
                            <td>{{ row.deaths }}</td>
                            <td>{{ row.kpm }}</td>
                            <td>{{ row.cheater }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% if page > 1 %}
                    <a href="{{ url_for('index', page=page-1) }}">Previous</a>
                {% endif %}
        
                {% if page < total_pages %}
                    <a href="{{ url_for('index', page=page+1) }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>    
        <button id="toggle-theme" class="button-spacing">Dark/Light</button> <!--button for dark mode-->
        <script>
            document.getElementById('toggle-theme').addEventListener('click', function() {
                document.body.classList.toggle('dark-mode');
            });
        </script>
            
    </div>
    <a href="/logout">Logout</a>
</body>
</html>