body {
    font-family: monospace, sans-serif;
}

.header {
    background-color: #393c39;
    font-family: monospace;
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-rectangle, .stats-rectangle {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 80%;
    border-radius: 10px;
}

.player-rectangle {
    background-color: #f9f9f9;
}

.stats-rectangle {
    background-color: #e9e9e9;
}

.button-spacing {
    margin-top: 20px;
}

/* player stats */
.player-rectangle table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.player-rectangle th {
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
    width: 120px;
}

.player-rectangle td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* other players stats */
.stats-rectangle table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stats-rectangle th, .stats-rectangle td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.stats-rectangle th {
    background-color: #f5f5f5;
}

/* pagination */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 0 5px;
}

.pagination a:hover {
    background-color: #ddd;
}

/* dark mode */
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .header,
body.dark-mode .player-rectangle,
body.dark-mode .stats-rectangle,
body.dark-mode .stats-rectangle th,
body.dark-mode .player-rectangle th{
    background-color: #1E1E1E;
    border-color: #333;
}

body.dark-mode a {
    color: #BB86FC;
}